// imports
@use "../abstracts/abstracts" as *;

.container {
  @include flexCenter;
  @include maxWidthLg;
  min-height: 100%;
  padding: 2rem 0;
}

.bg-pattern,
.bg-curve,
.bg-quotes {
  position: absolute;
  z-index: -1;
}

.bg-pattern {
  top: 0;
  right: 0;
  width: 45%;
  opacity: 0.2;

  @include responsive(lg) {
    top: 10%;
  }

  @include responsive(md) {
    right: 25%;
    width: 70%;
    top: 0;
  }

  @include responsive(sm) {
    right: 10%;
    width: 90%;
    top: 5%;
  }
}

.bg-curve {
  bottom: -5%;
  left: -5%;
  width: 75%;

  @include responsive(md) {
    width: 100%;
  }
}

.bg-quotes {
  top: 20%;
  left: 20%;
  width: 10%;

  @include responsive(lg) {
    top: 30%;
  }

  @include responsive(md) {
    top: 40%;
    left: 10%;
    width: 20%;
  }

  @include responsive(sm) {
    top: 50%;
  }

  @include responsive(xs) {
    top: 40%;
  }
}

.tag {
  @include flexCenter;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem 2rem 1rem 2rem;
  background-color: color(grayishBlue);

  &__heading {
    @include textStyles;
    font-size: size(xs) - 0.1rem;
    color: color(white);
  }

  &__link {
    @include headingStyles;
    color: color(darkBlue);
    outline: 0;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__logo {
    width: 5rem;
  }
}
